$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1600px;

@mixin mobile-view {
    @media screen and (max-width: #{$breakpoint-tablet - 1px}) {
        @content;
    }
}

@mixin tablet-view {
    @media screen and (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-laptop - 1px}) {
        @content;
    }
}

@mixin laptop-view {
    @media screen and (min-width: #{$breakpoint-laptop}) and (max-width: #{$breakpoint-desktop - 1px}) {
        @content;
    }
}

@mixin desktop-view {
    @media screen and (min-width: #{$breakpoint-desktop}) and (max-width: #{$breakpoint-large-desktop - 1px}) {
        @content;
    }
}

@mixin large-desktop-view {
    @media screen and (min-width: #{$breakpoint-large-desktop}) {
        @content;
    }
}
