// White/Black Palette
$white: #ffffff;
$black: #0d0d0d;

// Action/Accent Color
$success-color: #28a745;
$warning-color: #ffc107;
$danger-color: #dc3545;
$info-color: #17a2b8;

// Background Color
$background-color: #ffffff;
$footer-background: #f6e1a1;
$section-background-color: rgba(20, 82, 32, 0.85);

// Text Palette Color
$primary-text-color: #1b1b1b;

// Blue Palette Color
$blue-color-100: #d8f1ff;
$blue-color-200: #0056cc;
$blue-color-300: #002c77;

// Green Palette Color
$green-color-100: #d8e6de;
$green-color-200: #c8e6c9;
$green-color-300: #7bdda9;
$green-color-400: #00853e;
$green-color-500: #007034;
$green-color-600: #015528;

// Yellow Palette Color

$yellow-color-100: #f1ead8;
$yellow-color-200: #ffe7a7;
$yellow-color-300: #ffd257;
$yellow-color-400: #f5b403;
$yellow-color-500: #bc8900;

// Grey Palette Color
$grey-color-100: #f5f5f5;
$grey-color-200: #cccccc;
$grey-color-300: #a3a3a3;
$grey-color-400: #757575;
$grey-color-500: #545454;

// UTILS
$input-default-border-color: #929292;

// MIXINS

@mixin injectCSSColorVarsToRoot() {
  :root {
    // White/Black Palette
    --white-color: #{$white};
    --black-color: #{$black};

    // Action/Accent Color
    --success-color: #{$success-color};
    --warning-color: #{$warning-color};
    --danger-color: #{$danger-color};
    --info-color: #{$info-color};

    // Background Color
    --background-color: #{$background-color};
    --footer-color: #{$footer-background};
    --section-background-color: #{$section-background-color};

    // Text Color
    --primary-text-color: #{$primary-text-color};

    // Blue Palette Color
    --blue-color-100: #{$blue-color-100};
    --blue-color-200: #{$blue-color-200};
    --blue-color-300: #{$blue-color-300};

    // Green Palette Color
    --green-color-100: #{$green-color-100};
    --green-color-200: #{$green-color-200};
    --green-color-300: #{$green-color-300};
    --green-color-400: #{$green-color-400};
    --green-color-500: #{$green-color-500};
    --green-color-600: #{$green-color-600};

    // Yellow Palette Color
    --yellow-color-100: #{$yellow-color-100};
    --yellow-color-200: #{$yellow-color-200};
    --yellow-color-300: #{$yellow-color-300};
    --yellow-color-400: #{$yellow-color-400};
    --yellow-color-500: #{$yellow-color-500};

    // Yellow Palette Color
    --grey-color-100: #{$grey-color-100};
    --grey-color-200: #{$grey-color-200};
    --grey-color-300: #{$grey-color-300};
    --grey-color-400: #{$grey-color-400};
    --grey-color-500: #{$grey-color-500};

    // UTILS
    --input-default-border-color: #{$input-default-border-color};
  }
}
