<ion-menu [contentId]="menuContentId()"
          (ionDidClose)="onMenuCloseHandler()">
  <ion-header class="sidebar-menu__header">
    <ion-toolbar class="sidebar-menu__toolbar">
      <ion-menu-toggle slot="start">
        <ui-lib-icon [iconDetails]="GLOBAL_ICONS['sidebarCloseIcon']"
        ></ui-lib-icon>
      </ion-menu-toggle>

      @if (currentItem().children) {
        <div slot="end" class="sidebar-menu__title-wrapper" (click)="onBackClick()">
          <ui-lib-icon [iconDetails]="GLOBAL_ICONS['sidebarBackIcon']"
          ></ui-lib-icon>
          <ion-title class="sidebar-menu__title"> {{ currentItem().labelText }}</ion-title>
        </div>
      }

    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ui-lib-list-item [listCustomClass]="'base-level-sidebar-list'"
                      [items]="currentMenuItems()"
                      (clickedItem)="onMenuOpenItem($event)">
    </ui-lib-list-item>

  </ion-content>
</ion-menu>
