<ion-header>
  <ion-toolbar>
    <ion-row class="header__container ion-justify-content-between ion-align-items-center">
      <ion-col size="auto" class="header__sidebar-menu">
        <div id="main-content">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </div>
      </ion-col>
      <ion-col size="auto">
        <ui-lib-image [routerLink]="'/'"
                      [src]="'assets/images/fingovo-logo.svg'"
                      [alt]="'Fingovo logo'"
                      [class]="'header__logo'"
        >
        </ui-lib-image>
      </ion-col>

      <ion-col size="auto" class="header__desktop-menu">
        <app-desktop-menu></app-desktop-menu>
      </ion-col>

      <ion-col size="auto">
        <ui-lib-icon class="ion-justify-content-end"
                     id="open-modal"
                     [iconDetails]="GLOBAL_ICONS['navigationSearchIcon']"
        ></ui-lib-icon>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-modal #modal
           class="searchbar__modal"
           trigger="open-modal"
           (didPresent)="onDidPresent()"
>
  <ng-template>
    <ui-lib-icon class="ion-justify-content-end"
                 [iconDetails]="GLOBAL_ICONS['searchbarCloseIcon']"
                 (click)="modal.dismiss()"
    ></ui-lib-icon>
    <div class="searchbar__wrapper">
      <ion-searchbar #searchbar
                     class="searchbar__item"
                     placeholder="Wyszukaj"
                     [debounce]="500"
                     (keydown.enter)="navigateToResult(); modal.dismiss()"
      >
      </ion-searchbar>
      <ui-lib-button
        class="ion-hide-md-down"
        (click)="navigateToResult(); modal.dismiss()"
        [btnText]="'Wyszukaj'"
        [customClass]="'searchbar__btn'"></ui-lib-button>
    </div>
  </ng-template>
</ion-modal>

@if (sidebarMenuContentId()) {
  <app-sidebar-menu [menuContentId]="sidebarMenuContentId()"></app-sidebar-menu>
}
